* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Alkatra', cursive;
    cursor: default;
}

#alertDiv {
    position: absolute;
    top: 7vh;
    left: 25vw;
    right: 25vw;
    margin: auto;
    padding: 15px;
    border: 2px solid white;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff6600, cadetblue);
    color: white;
    display: none;
    text-align: center;
    font-weight: 1000;
}

#loadingDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
}

#loadingDiv::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loadingCircle 0.75s ease infinite;
}
@keyframes loadingCircle {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #56a1bf, #c2bfbf);
    opacity: 0.4;
    z-index: -1;
}

#rightClickOptionsDiv {
    position: absolute;
    z-index: 9999;
    background-color: #9e9c9c;
    top: 15vh;
    left: 43vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    display: none;
    width: 120px;
}

#rightClickOptionsDiv ul li {
    list-style-type: none;
}

#rightClickOptionsDiv button {
    border-radius: 0;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 4px;
    width: 100%;
    margin: 8px 0px;
}

.getStartedDiv {
    background: linear-gradient(to right, #ff6600, #928f8f);
    padding: 7px;
    max-width: 600px;
    margin: auto;
    margin-top: 85px;
}

#getStartedText {
    color: white;
    text-align: center;
}

.menuButton:hover {
    cursor: pointer;
    background-color: white;
    color: darkcyan;
}

.header {
    background-color: cornflowerblue;
    width: 100%;
    color: white;
    text-align: center;
    padding: 2.5%;
    text-transform: uppercase;
    font-size: small;
    max-height: 100px;
    line-height: 35px;
}

.firstWords {
    font-size: 30px;
}

#sideBar {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
    background-color: #231f20;
    animation: slideRight 0.8s ease-out forwards;
}

#sideBar ul li {
    border-top: 1px solid #525050;
    padding: 15px;
    list-style-type: none;
}

#sideBar ul li button {
    padding: 7px;
    background-color: cadetblue;
    color: white;
    width: 100%;
    font-size: 20px;
}

#sideBar ul li button:hover {
    background-color: white;
    color: cadetblue;
    text-decoration: underline;
    cursor: pointer;
}

#mainBody {
    margin-left: 21.5vw;
    width: 77vw;
    margin-top: 21px;
    height: fit-content;
    list-style-type: none;
    display: none;
}

#sideBar ul:last-child {
    border-bottom: 1px solid #525050;
}

#mainBody h4 {
    font-size: 28px;
    color: teal;
    margin: 2%;
}

.notes {
    font-size: 21px;
    color: teal;
    font-weight: bold;
}

#searchInput {
    margin: 25px 0px 0px 22vw;
    padding: 7px;
    outline: 2px solid blue;
    width: 25vw;
    height: 3vw;
    font-size: 18px;
    display: none;
    position: absolute;
    animation: slideRight 0.5s ease-out;
    animation-fill-mode: forwards;
    transition: 0.5s;
    cursor: text;
    z-index: 500;
}
@keyframes slideRight {
    0% {transform: translateX(-150px)}
}

#newContactForm {
    margin: 4%;
    margin-left: 35vw;
    background: linear-gradient(to right, #ff6600, lightslategray);
    width: 50vw;
    display: flexbox;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0px 0px 12px gray;
    display: none;animation: slideLeft 0.8s ease-out forwards;
}
@keyframes slideLeft {
    0% {transform: translateX(300px); opacity: 0.3;}
}

#newContactForm input[type="text"],
#newContactForm input[type="button"],
#newContactForm input[type="tel"],
#newContactForm input[type="email"] {
    display: block;
    margin: 0;
    min-width: 25vw;
    padding: 7px;
    border-radius: 5px;
}

#newContactForm input[type="text"],
#newContactForm input[type="email"],
#newContactForm input[type="tel"] {
    cursor: text;
}

#newContactForm input[type="button"],
#newContactForm input[type="submit"],
button {
    cursor: pointer;
    margin: 0;
    padding: 7px;
    border-radius: 7px;
}

#details {
    width: 48.3vw;
    height: 120px;
    margin-bottom: 21px;
    padding: 7px;
    border-radius: 4px;
    max-width: 48.3vw;
    max-height: 120px;
    min-width: 48.3vw;
    min-height: 120px;
    cursor: text;
    resize: none;
}

#profilePhoto {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid white;
    overflow: auto;
    object-fit: cover;
}

.xmark {
    color: red;
    font-weight: bold;
    line-height: 18px;
}

.pencils {
    width: 15px;
    height: 15px;
}

.contactsPhoto {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 5px;
    margin-top: 4px;
    overflow: auto;
    object-fit: cover;
}

#contactsTable {
    animation: fallDown 0.8s ease-out forwards;
    margin-bottom: 21px;
    list-style-type: none;
}
@keyframes fallDown {
    0% {transform: translateY(-350px); opacity: 0.3;}
}

#contactsTable tr {
    box-shadow: 1px 1px 1px white;
    color: white;
    font-weight: bold;
    padding: 7px;
    background-color: cadetblue;
    width: 100%;
}

#contactsTable tr td {
    box-shadow: -2px -1px 1px white;
    width: 40px;
    white-space: nowrap;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

#contactsTable tr td h3,
#contactsTable tr td img {
    cursor: pointer;
}

#contactsTable tr:hover {
    opacity: 0.8;
}

#contactsTable tr:active {
    opacity: 0.5;
}

.detailsTd {
    width: 10vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;
}

.contactsDetailsTd {
    text-align: left;
}

.menuButton {
    padding: 8px;
    font-size: x-large;
    background-color: #0abfbc;
    color: white;
    font-weight: bold;
    display: none;
}

#menuBar {
    display: none;
}

#contactProfilePageDiv {
    display: flex;
    justify-content: left;
    align-items: center;
    top: 15vh;
    left: 15vh;
    right: 15vh;
    border-radius: 12px;
    box-shadow: 0px 0px 7px rgb(106, 104, 104);
    display: none;
    margin: auto;
    margin: 10vh 7vw 10vh 30vw;
    padding: 25px;
    font-weight: 1000;
}

#contactProfilePageDiv::before {
    opacity: 0.8;
    color: khaki;
    z-index: -1;
    content: "";
    position: fixed;
}

#contactProfilePageDiv span {
    text-decoration: underline;
}

#currentProfilePhoto {
    width: 100px;
    height: 100px;
    overflow: auto;
    object-fit: cover;
    border-radius: 15%;
}

#closeDiv {
    border-radius: 50%;
    color: white;
    text-align: center;
    padding-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    height: 30px;
    width: 30px;
    background-color: crimson;
    cursor: pointer;
}

#deleteButton {
    color: white;
    background-color: crimson;
}

#contactProfilePageDiv input {
    margin-top: -70px;
    margin-left: 12px;
    padding: 7px;
    border-radius: 4px;
    font-size: 16px;
    min-width: 235px;
    cursor: text;
}

#contactProfilePageDiv textarea {
    padding: 7px;
    border-radius: 7px;
    resize: none;
    margin: 12px 7px 15px 0;
    font-size: 16.5px;
    min-width: 265px;
    width: 50vw;
    cursor: text;
}

.favoriteCheckboxTd {
    display: none;
}

.favoriteCheckBox {
    width: 25px;
    margin-top: 5px;
    height: 25px;
    cursor: pointer;
}

.starSVG {
    width: 30px;
    height: 30px;
    color: yellow;
    fill: yellow;
    cursor: pointer;
}

/* Phone CSS Begins Here! */
@media (max-width: 890px) {
    #menuBar {
        display: list-item;
        margin: auto;
    }

    #searchInput {
        z-index: 500;
        width: 300px;
        height: 35px;
        margin-top: -37px;
        display: none;
    }

    #sideBar {
        width: 100vw;
    }

    #newContactForm {
        margin: 12px 12px 12px 12px;
        width: 93vw;
        justify-content: left;
    }

    #mainBody {
        width: fit-content;
        margin: auto;
        margin-top: -70px;
        display: none;
    }

    #contactsTable {
        margin: auto;
        display: none;
    }

    .profilePhotoTd {
        width: 40px;
        height: 40px;
    }

    #details {
        width: 86.5vw;
        height: 120px;
        margin-bottom: 21px;
        padding: 7px;
        border-radius: 4px;
        max-width: 86.5vw;
        max-height: 120px;
        min-width: 48.3vw;
        min-height: 120px;
        cursor: text;
    }

    #contactProfilePageDiv {
        display: flex;
        justify-content: left;
        align-items: center;
        top: 15vh;
        left: 15vh;
        right: 15vh;
        border-radius: 12px;
        box-shadow: 0px 0px 7px #928f8f;
        display: none;
        margin: auto;
        margin: 10vh 10vw 10vh 10vw;
        padding: 15px;
        font-weight: 1000;
        overflow: auto;
    }

    #contactProfilePageDiv span {
        text-decoration: underline;
    }

    #currentProfilePhoto {
        width: 100px;
        height: 100px;
        overflow: auto;
        object-fit: cover;
        border-radius: 15%;
    }

    #contactProfilePageDiv input {
        margin-top: 10px;
        margin-bottom: 7px;
        margin-left: -7px;
        padding: 7px;
        border-radius: 4px;
        min-width: 250px;
    }

    #contactProfilePageDiv textarea {
        margin-left: -7px;
        resize: none;
    }

    #alertDiv {
        width: 100vw;
        margin-left: -25vw;
    }
}

@media only screen and (min-width: 100px) and (max-width: 621px) {
    .locationTd {
        display: none;
    }

    .editDeleteTd {
        display: none;
    }
}